<div style="margin-top:40px"></div>
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-default col-md-1">
            Start
        </button>
    </div>
    <div class="row">
        <section id="scavenger_results" class="col-md-6"></section>
    </div>
</div>

<!--script src="/bower_components/director/build/director.js"></script-->

